.SignupMain {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.signup-imgbox {
  position: absolute;
  left: 295px;
  top: 157px;

  mix-blend-mode: multiply;
}
.signup-imgbox > img {
  width: 571px;
}
.signup-box {
  position: absolute;
  width: 561px;
  height: 625px;
  right: 180px;
  top: 138px;
  background: #dbd9d9;
  mix-blend-mode: overlay;
  border-radius: 47px;
}

/* signup number section */

.signup-num > input {
  position: absolute;
  width: 450px;
  height: 50px;
  top: 250px;
  left: 50px;
  background: rgb(253, 249, 249);
  /* mix-blend-mode: soft-light; */
  border-radius: 47px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.signup-num > label {
  position: absolute;
  font-size: 1.8rem;
  font-weight: 600;
  top: 150px;
  left: 210px;
}

.signup-num > button {
  position: absolute;
  width: 171px;
  height: 48px;
  bottom: 170px;
  left: 185px;
  text-align: center;
  text-decoration-color: rgb(201, 47, 47);
  background: #e6e1e1;
  /* mix-blend-mode: color-dodge; */
  border-radius: 16px;
  font-family: monospace;
  font-weight: 600;
  font-size: 1.5rem;
}

/* otp section */

.verify-otp > h2 {
  position: absolute;
  font-size: 1.7rem;
  font-weight: 500;
  top: 150px;
  left: 150px;
}

.verify-otp > input {
  position: absolute;
  width: 450px;
  height: 50px;
  top: 250px;
  left: 50px;
  background: rgb(253, 249, 249);
  /* mix-blend-mode: soft-light; */
  border-radius: 47px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.verify-otp > button {
  position: absolute;
  width: 171px;
  height: 48px;
  bottom: 170px;
  left: 185px;
  text-align: center;
  text-decoration-color: rgb(201, 47, 47);
  background: #e6e1e1;
  /* mix-blend-mode: color-dodge; */
  border-radius: 16px;
  font-family: monospace;
  font-weight: 600;
  font-size: 1.5rem;
}

/* password creating section */

.create-pass > h2 {
  position: absolute;
  font-size: 1.7rem;
  font-weight: 500;
  top: 100px;
  left: 150px;
}

.pass-box1 > input {
  position: absolute;
  width: 450px;
  height: 50px;
  top: 200px;
  left: 50px;
  background: rgb(253, 249, 249);
  /* mix-blend-mode: soft-light; */
  border-radius: 47px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.pass-box2 > input {
  position: absolute;
  width: 450px;
  height: 50px;
  top: 300px;
  left: 50px;
  background: rgb(253, 249, 249);
  /* mix-blend-mode: soft-light; */
  border-radius: 47px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.create-pass > button {
  position: absolute;
  width: 171px;
  height: 48px;
  bottom: 130px;
  left: 185px;
  text-align: center;
  text-decoration-color: rgb(201, 47, 47);
  background: #e6e1e1;
  /* mix-blend-mode: color-dodge; */
  border-radius: 16px;
  font-family: monospace;
  font-weight: 600;
  font-size: 1.5rem;
}

@media screen and (max-width: 1626px) {
  .signup-imgbox {
    position: absolute;
    left: 215px;
    top: 155px;
    mix-blend-mode: multiply;
  }
  .signup-imgbox > img {
    width: 335px;
  }
  /* signup number section */
  .signup-box {
    position: absolute;
    width: 446px;
    height: 466px;
    right: 157px;
    top: 90px;
    background: #dbd9d9;
    mix-blend-mode: overlay;
    border-radius: 47px;
  }

  .signup-num > input {
    position: absolute;
    width: 336px;
    height: 41px;
    top: 185px;
    left: 52px;
    background: rgb(253, 249, 249);
    /* mix-blend-mode: soft-light; */
    border-radius: 47px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  .signup-num > label {
    position: absolute;
    font-size: 1.7rem;
    font-weight: 600;
    top: 102px;
    left: 180px;
  }

  .signup-num > button {
    position: absolute;
    width: 154px;
    height: 42px;
    bottom: 149px;
    left: 148px;
    text-align: center;
    text-decoration-color: rgb(201, 47, 47);
    background: #e6e1e1;
    /* mix-blend-mode: color-dodge; */
    border-radius: 16px;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5rem;
  }

  /* otp section */

  .verify-otp > h2 {
    position: absolute;
    font-size: 1.7rem;
    font-weight: 600;
    top: 52px;
    left: 92px;
  }

  .verify-otp > input {
    position: absolute;
    width: 336px;
    height: 41px;
    top: 185px;
    left: 52px;
    background: rgb(253, 249, 249);
    /* mix-blend-mode: soft-light; */
    border-radius: 47px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  .verify-otp > button {
    position: absolute;
    width: 154px;
    height: 42px;
    bottom: 149px;
    left: 148px;
    text-align: center;
    text-decoration-color: rgb(201, 47, 47);
    background: #e6e1e1;
    /* mix-blend-mode: color-dodge; */
    border-radius: 16px;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5rem;
  }

  /* password creating section */

  .create-pass > h2 {
    position: absolute;
    font-size: 1.7rem;
    font-weight: 600;
    top: 52px;
    left: 92px;
  }

  .pass-box1 > input {
    position: absolute;
    width: 336px;
    height: 41px;
    top: 158px;
    left: 52px;
    background: rgb(253, 249, 249);
    /* mix-blend-mode: soft-light; */
    border-radius: 47px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  .pass-box2 > input {
    position: absolute;
    width: 336px;
    height: 41px;
    top: 238px;
    left: 52px;
    background: rgb(253, 249, 249);
    /* mix-blend-mode: soft-light; */
    border-radius: 47px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  .create-pass > button {
    position: absolute;
    width: 163px;
    height: 41px;
    bottom: 111px;
    left: 147px;
    text-align: center;
    text-decoration-color: rgb(201, 47, 47);
    background: #e6e1e1;
    /* mix-blend-mode: color-dodge; */
    border-radius: 16px;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .fpass > h4 {
    position: absolute;
    width: 367px;
    height: 23px;
    bottom: 30px;
    left: 44px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
}

@media screen and (max-width: 600px) {
  .signup-imgbox {
    position: absolute;
    left: 50%;
    bottom: -391px;
    mix-blend-mode: multiply;
    height: fit-content;
    transform: translate(-50%, 0);

    margin: auto;
  }

  .signup-imgbox > img {
    width: 37vw;
  }
  .signup-box {
    position: absolute;
    width: 446px;
    height: 466px;
    top: 97px;
    background: #dbd9d9;
    mix-blend-mode: overlay;
    border-radius: 47px;
    border: tomato;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
  }
}
