.mann-box-main{
    
    width: 767px;
    height: 668px;
    border-radius: 72px;
    box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
}


.mann-content-main{
    position: relative;
    top: 35px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 615px;
    width: 656px;
    border-radius: 50px  50px;
    background-color: #ffffff36;
    overflow: scroll;
    

}

.mann-content-main::-webkit-scrollbar{ 
    display: none;
}

.mann-box{
   
    background-color: rgb(255 255 255 / 55%);
    margin: 20px 50%;
    padding: 20px ;
    transform: translate(-50%,0);
    height: fit-content;
    width: 550px;
    min-height: 70px;
    min-width: 180px;
    border-radius: 30px;
    color: black;
    text-align: justify;
    font-size: 1.7rem;
    font-family: cursive;
}

.mann-box>h2{
    font-size: 2.5rem;
    font-family: cursive;
    width: 539px;
    word-break: break-all;
}

.mann-box>h4{
    font-size: 1.5rem;
    font-weight: 550;
    font-family: cursive;
}


.mann-box>button{
    height: 40px;
    width: fit-content;
    min-width: 130px;
    border-radius: 15px;
    position: relative;
    mix-blend-mode: lighten;
    margin-left: 190px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}


.moptions>button{
    height: 44px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 130px;
    border-radius: 44px;
    position: relative;
    mix-blend-mode: darken;
    margin-left: 95px;
    margin-bottom: 21px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(12, 12, 12);
}

.moptions>button:nth-child(1){
    background: rgba(82, 70, 190, 0.932);
}

.moptions>button:nth-child(2){
    background: rgb(201, 43, 43);
}