.add-student-main{
    position: absolute;
    height: 78%;
    width: 50%;
    background-color: rgb(145 129 208);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 85px;
    box-shadow: 0px 13px 102px 19px #172636;
}

.add-student-main>h2{
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    font-family: cursive;
}

.add-student-main>input:nth-child(3) {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -57%);
    height: 65px;
    width: 500px;
    border-radius: 29px;
    background-color: #c0e1ed;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 600;
    padding-left: 10px;
}

.add-student-main>input:nth-child(4){
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -57%);
    height: 65px;
    width: 500px;
    border-radius: 29px;
    background-color: #c0e1ed;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 600;
    padding-left: 10px;
}

.add-student-main>input:nth-child(3)::-webkit-scrollbar{
    display: none;
}


.add-student-main>button{
    position: absolute;
    bottom: 16%;
    left: 50%;
    transform: translate(-50%, -57%);
    height: 45px;
    width: 250px;
    border-radius: 29px;
    background-color: #8bc592;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 600;
    padding-left: 0px;
    align-items: center;
    padding-top: 0px;
}

.man-student-close{
    height: fit-content;
    width: fit-content;
    background-color: #92959f;
    position: absolute;
    right: 55px;
    top: 36px;
    transform: scale(1.5);
    border-radius: 50%;
}


.add-student-main>select{
    position: absolute;
    bottom: 33%;
    left: 50%;
    transform: translate(-50%, -57%);
    height: 45px;
    width: 250px;
    border-radius: 29px;
    background-color: #8bc592;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 600;
    padding-left: 0px;
    align-items: center;
    padding-top: 0px;
}

@media screen and (max-width: 1626px) {
    .add-student-main {
        position: absolute;
        height: 96%;
        width: 58%;
        background-color: rgb(145 129 208);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        border-radius: 85px;
        box-shadow: 0px 13px 102px 19px #172636;
    }
    .add-student-main>h2 {
        font-size: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 79px;
        font-family: cursive;
    }



}