.uann-box-main{
    
    width: 767px;
    height: 668px;
    border-radius: 72px;
    box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
}


.uann-content-main{
    position: relative;
    top: 35px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 602px;
    width: 656px;
    border-radius: 50px  50px;
    background-color: #ffffff36;
    overflow: scroll;
    

}

.uann-content-main::-webkit-scrollbar{ 
    display: none;
}

.ann-box{
   
    background-color: rgb(255 255 255 / 55%);
    margin: 20px 50%;
    padding: 20px ;
    transform: translate(-50%,0);
    height: fit-content;
    width: 550px;
    min-height: 70px;
    min-width: 180px;
    border-radius: 30px;
    color: black;
    text-align: justify;
    font-size: 1.7rem;
    font-family: cursive;
}

.ann-box>h2{
    font-size: 2.5rem;
    font-family: cursive;
    width: 539px;
    word-break: break-all;
}

.ann-box>h4{
    font-size: 1.5rem;
    font-weight: 550;
    font-family: cursive;
}


.ann-box>button{
    height: 40px;
    width: fit-content;
    min-width: 130px;
    border-radius: 15px;
    position: relative;
    mix-blend-mode: lighten;
    margin-left: 190px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

@media screen and (max-width: 1626px) {

    .uann-box-main{
    
        width: 623px;
        height: 460px;
        
        /* mix-blend-mode: darken; */
        border-radius: 72px;
        box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
    }
   
    
    .uann-content-main{
        position: relative;
        top: 25px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 415px;
        width: 579px;
        /* border-top: 50px black; */
        border-radius: 50px 50px;
        background-color: #ffffff36;
        /* mix-blend-mode: multiply; */
        overflow: scroll;
        
    
    }

    .ann-box{
        background-color: rgb(255 255 255 / 55%);
        /* mix-blend-mode: darken; */
        margin: 20px 50%;
        transform: translate(-50%,0);
        height: -moz-fit-content;
        height: fit-content;
        width: 502px;
        min-height: 66px;
        min-width: 180px;
        border-radius: 30px;
        color: black;
        padding: 10px;
        padding-left: 19px;
        text-align: justify;
        font-size: 1.2rem;
    }


}

@media screen and (max-width: 600px){

    .uann-box-main{
    
        width: 98%;
        height: 64vh;
        /* mix-blend-mode: darken; */
        border-radius: 72px;
        box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
    }

 .uann-content-main{
    position: relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 57vh;
    width: 98%;
    /* border-top: 50px black; */
    border-radius: 50px 50px;
    background-color: #ffffff36;
    /* mix-blend-mode: multiply; */
    overflow-y: scroll;
    overflow-x: hidden;
        
    
    }

    .ann-box{
        background-color: rgb(255 255 255 / 55%);
        /* mix-blend-mode: darken; */
        margin: 20px 50%;
        transform: translate(-50%,0);
        height: -moz-fit-content;
        height: fit-content;
        width: 90%;
        min-height: 66px;
        min-width: 178px;
        border-radius: 30px;
        color: black;
        padding: 10px;
        padding-left: 17px;
        text-align: justify;
        font-size: 1.1rem;
    }


}