.blockedPro-main{
    position: absolute;
    max-height: 80%;
    width: 70%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 25px;
    box-shadow: 0px 13px 102px 19px #172636;
    
    overflow: scroll;
   

}
.blockedPro-main::-webkit-scrollbar{
    display: none;
}
.Mclose-btn{
    margin: 10px;
    margin-left: 97%;
    border-radius: 50%;
    background: transparent;
    border: none;

}
.Mclose-btn:hover{
    color: red;
}
.Munblock-btn{
    background-color: #25c1b2;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;    
}