.admin-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.admin-table {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 853px;
  overflow: scroll;
}
.admin-table::-webkit-scrollbar {
  display: none;
}
.openadminpop-btn {
  background: #43b6e3;
  font-size: 1.2rem;
  border: none;
  padding: 5px;
  font-weight: 600;
  box-shadow: 0px 0px 15px -1px rgb(0 0 0 / 90%);
}
.adminpop {
  position: absolute;
  height: 900px;
  width: 80%;
  z-index: 999;
  background-color: rgb(75, 86, 92);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 85px;
    box-shadow: 0px 13px 102px 19px #172636;
}

.admin-content{
    position: relative;
  height: 850px;
  width: 98%;
  z-index: 999;
  background-color: rgb(178, 108, 216);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 85px;
  overflow-y: scroll;
}

.admin-content::-webkit-scrollbar{
    display: none;
}

.admin-content>img{
    max-width: 650px;
    max-height:445px ;
    border-radius: 25px;
    position: absolute;
    top: 65%;
    left: 28%;
    transform: translate(-50%, -50%);

}

.admin-content>p{
    position: absolute;
    max-height: 250px;
    max-width: 80%;
    width: 90%;
    top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  font-family: cursive;
  font-weight: 500;
  overflow: scroll;
}

.admin-content>p::-webkit-scrollbar{
    display: none;
}

.admin-content>h4{
    position: absolute;
    width: 90%;
    bottom: 19%;
  left: 109%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-family: cursive;
  font-weight: 500;
}

.admin-content>button:nth-child(6){
    position: absolute;
    bottom: 15%;
    left: 71%;
    height: 44px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 130px;
    border-radius: 15px;
    mix-blend-mode: initial;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
    color: #060606;
    background-color: #2d38cb;
}

.report-count{
    position: absolute;
    height: 150px;
    width: 250px;
    background-color:transparent;
    border-radius: 20px;
    bottom: 21%;
  left: 70%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #060606;
  text-align: center;
}

.report-count>label{
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 600;
    margin-top: 20px;
}

.report-count>h3{
    font-size: 1.4rem;
}

.admin-content>button:nth-child(5){
    position: absolute;
    bottom: 15%;
    left: 63%;
    height: 44px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 130px;
    border-radius: 15px;
    mix-blend-mode: initial;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
    color: #060606;
    background-color: #cb2d2d;   
}