.editsugg-main{
    position: absolute;
    height: 70%;
    width: 50%;
    background-color: rgb(145 129 208);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 85px;
    box-shadow: 0px 13px 102px 19px #172636;
}

.editsugg-main>h2{
    font-size: 2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 77px;
    font-family: cursive;

}

.editsugg-main>textarea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    height: 40%;
    width: 70%;
    border-radius: 29px;
    background-color: #c0e1ed;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 20px;
}

.editsugg-main>textarea::-webkit-scrollbar{
    display: none;
}


.editsugg-main>button{
    height: 40px;
    width: 205px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, 513%);
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: #a2a7b7;
    cursor: default;
}



.CloseIcon{
    height: fit-content;
    width: fit-content;
    background-color: #92959f;
    position: absolute;
    right: 55px;
    top: 36px;
    transform: scale(1.5);
    border-radius: 50%;
}