.nav-main {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-main > p {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  margin-left: 80px;
}

.nav-main > img {
  height: 60px;
  width: 60px;
  border: 1px solid rgb(43, 42, 42);
  border-radius: 50%;
  margin-right: 20px;
}

.pro-menu {
  position: absolute;
  top: 116px;
  right: 20px;
  background-color: rgb(32, 63, 65);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  z-index: 999999;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgb(238, 243, 243);
}

.pro-menu > p {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
