.nav-main{
position: fixed;
width:100%;
background-color: transparent;
z-index: 9999;
height:130px;
display :flex;
justify-content: space-between;
align-items: center;

}

.nav-main>p{
    font-size: 3rem;
    font-weight: 500;
    font-family:  'Times New Roman', Times, serif;
    margin-left: 80px;

}


.nav-main>img{
    height: 60px;
    width: 60px;
    border: 1px solid rgb(43, 42, 42);
    border-radius: 50%;
    margin-right: 80px;
}