

.ucom-box-main{
    
    width: 790px;
    height: 810px;
    
    
    /* mix-blend-mode: darken; */
    border-radius: 72px;
    box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
}

.ucom-btns{
    
    
    height: 50px;
    top: 10px;
    padding: 10px 58px;
    
    
}

.ucom-btns>button{
    height: 44px;
    width: fit-content;
    min-width: 130px;
    border-radius: 44px;
    position: relative;
    mix-blend-mode: lighten;
    margin-left: 21px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
}

.ucom-content-main{
    position: relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 690px;
    width: 666px;
    /* border-top: 50px black; */
    border-radius: 50px  50px;
    background-color: #ffffff36;
    /* mix-blend-mode: multiply; */
    overflow: scroll;
    

}

.ucom-content-main::-webkit-scrollbar{ 
    display: none;
}

.com-box{
   
    background-color: rgb(255 255 255 / 55%);
    /* mix-blend-mode: darken; */
    margin: 20px 50%;
    transform: translate(-50%,0);
    height: fit-content;
    width: 550px;
    min-height: 70px;
    min-width: 180px;
    border-radius: 30px;
    color: black;
    padding: 10px;
    padding-left: 20px;
    text-align: justify;
    font-size: 1.7rem;
}



.report-btn{
    width: fit-content;
    height: fit-content;
     /* background-color: rgb(231, 46, 21); */
    margin-left: 513px;
    margin-top: 50px;
    transform: scale(1.9);


}
.report-btn :hover{
    color: red;
}

.reply-area{
    max-width: 550px;
    max-height: fit-content;
    
}

.reply-area>h6{
    font-size: 1.7rem;
    font-weight: 550;
    margin-left: 20px;
    color: currentcolor;
    font-family: cursive;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
}

.reply-area>p{
    background-color: rgb(255 255 255 / 55%);
    mix-blend-mode: darken;
    /* margin-right: 5px ; */
    height: fit-content;
    width: 500px;
    border-radius: 30px;
    color: black;
    padding: 20px;
    text-align: justify;
    font-size: 1.5rem;
    font-family: cursive;
}

.com-box>img{
    max-width: 500px;
}
.com-box-date{
    font-size: 1.2rem;
}