

.ucom-box-main{
    
    width: 767px;
    height: 668px;
    
    
    /* mix-blend-mode: darken; */
    border-radius: 72px;
    box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
}

.ucom-btns{
    
    
    height: 50px;
    top: 10px;
    padding: 10px 58px;
    
    
}

.ucom-btns>button{
    height: 44px;
    width: fit-content;
    min-width: 130px;
    border-radius: 44px;
    position: relative;
    mix-blend-mode: lighten;
    margin-left: 21px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
}

.ucom-content-main{
    position: relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 537px;
    width: 656px;
    /* border-top: 50px black; */
    border-radius: 50px  50px;
    background-color: #ffffff36;
    /* mix-blend-mode: multiply; */
    overflow: scroll;
    

}

.ucom-content-main::-webkit-scrollbar{ 
    display: none;
}

.com-box{
   
    background-color: rgb(255 255 255 / 55%);
    /* mix-blend-mode: darken; */
    margin: 20px 50%;
    transform: translate(-50%,0);
    height: fit-content;
    width: 550px;
    min-height: 70px;
    min-width: 180px;
    border-radius: 30px;
    color: black;
    padding: 10px;
    padding-left: 20px;
    text-align: justify;
    font-size: 1.7rem;
}



.report-btn{
    width: fit-content;
    height: fit-content;
     /* background-color: rgb(231, 46, 21); */
    margin-left: 513px;
    margin-top: 50px;
    transform: scale(1.9);


}
.report-btn :hover{
    color: red;
}

.reply-area{
    max-width: 90%;
    max-height: fit-content;
    
}

.reply-area>h6{
    font-size: 1.7rem;
    font-weight: 550;
    margin-left: 20px;
    color: currentcolor;
    font-family: cursive;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
}

.reply-area>p{
    background-color: rgb(255 255 255 / 55%);
    mix-blend-mode: darken;
    /* margin-right: 5px ; */
    height: fit-content;
    width: 90%;
    border-radius: 30px;
    color: black;
    padding: 20px;
    text-align: justify;
    font-size: 1.5rem;
    font-family: cursive;
}

.com-box>img{
    max-width: 500px;
}
.com-box-date{
    font-size: 1.2rem;
}

@media screen and (max-width: 1626px) {
    
    .ucom-box-main{
    
        width: 623px;
        height: 460px;
        
        /* mix-blend-mode: darken; */
        border-radius: 72px;
        box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
    }
    
    .ucom-btns{
        height: 49px;
        top: 9px;
        padding: 3px 1px;  
    }

    .ucom-btns>button {
        height: 37px;
        width: -moz-fit-content;
        width: fit-content;
        min-width: 102px;
        border-radius: 44px;
        position: relative;
        mix-blend-mode: lighten;
        margin-left: 29px;
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: sans-serif;
    }
    .ucom-content-main {
        position: relative;
        top: 25px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 354px;
        width: 579px;
        /* border-top: 50px black; */
        border-radius: 50px 50px;
        background-color: #ffffff36;
        /* mix-blend-mode: multiply; */
        overflow: scroll;
    }

    .com-box {
        background-color: rgb(255 255 255 / 55%);
        /* mix-blend-mode: darken; */
        margin: 20px 50%;
        transform: translate(-50%,0);
        height: -moz-fit-content;
        height: fit-content;
        width: 502px;
        min-height: 66px;
        min-width: 180px;
        border-radius: 30px;
        color: black;
        padding: 10px;
        padding-left: 19px;
        text-align: justify;
        font-size: 1.2rem;
    }
    .report-btn {
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
        /* background-color: rgb(231, 46, 21); */
        
    margin-left: 440px !important;

        margin-top: 50px;
        transform: scale(1.3);
    }

    .com-box>img {
        max-width: 323px;
    }

   




}

@media screen and (max-width: 600px){

    .ucom-box-main {
        width: 98%;
        height: 64vh;
        /* mix-blend-mode: darken; */
        border-radius: 72px;
        box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
    }

    .ucom-content-main {
        position: relative;
        top: 25px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 53vh;
        width: 98%;
        /* border-top: 50px black; */
        border-radius: 50px 50px;
        background-color: #ffffff36;
        /* mix-blend-mode: multiply; */
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .com-box {
        background-color: rgb(255 255 255 / 55%);
        /* mix-blend-mode: darken; */
        margin: 20px 50%;
        transform: translate(-50%,0);
        height: -moz-fit-content;
        height: fit-content;
        width: 90%;
        min-height: 66px;
        min-width: 178px;
        border-radius: 30px;
        color: black;
        padding: 10px;
        padding-left: 17px;
        text-align: justify;
        font-size: 1.1rem;
    }
    .ucom-btns {
        height: 40px;
        top: 9px;
        padding: 0px 0px;
    }
    .ucom-btns>button {
        height: 37px;
        width: -moz-fit-content;
        width: fit-content;
        min-width: 60px;
        border-radius: 44px;
        position: relative;
        mix-blend-mode: lighten;
        margin-left: 32px;
        margin-top: 18px;
        font-size: 1rem;
        font-weight: 600;
        font-family: sans-serif;
    }

    .report-btn {
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
        /* background-color: rgb(231, 46, 21); */
        margin-left: 379px !important;
        margin-top: 5px;
        transform: scale(1.3);
    }
   

}