.Fpass-main{
    position:relative;
    width: 100vw;
    height: 100vh;
}

.fpass-imgbox{
    position: absolute;
    left: 430px;
    top: 171px;
    
    mix-blend-mode: multiply;
}

.fpass-imgbox>img{
    width: 769px;
}

.Fpass-box{
    position: absolute;
    width: 561px;
    height: 600px;
    right: 300px;
    top: 200px;
    background: #dbd9d9;
    mix-blend-mode: overlay;
    border-radius: 47px;
    display: flex;
    justify-content: center;
    
}



/* Forgot password number section */


.fpass-num-main>input{
    position: absolute;
    width:450px;
    height: 50px;
    top: 250px;
    left: 50px;
    background: rgb(253, 249, 249);
    /* mix-blend-mode: soft-light; */
    border-radius: 47px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.fpass-num-main>label{
    position: absolute;
    font-size: 1.8rem; ;
    font-weight: 600;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
}


.fpass-num-main>button{
    position: absolute;
    width: 171px;
    height: 48px;
    bottom: 170px;
    left: 185px;
    text-align: center;
    text-decoration-color: rgb(201, 47, 47);
    background: #e6e1e1;
    /* mix-blend-mode: color-dodge; */
    border-radius: 16px;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5rem;
}



/* otp section */


.Fpassotp-main>label{
    position: absolute;
    font-size: 1.7rem; ;
    font-weight: 500;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Fpassotp-main>input{
    position: absolute;
    width:450px;
    height: 50px;
    top: 250px;
    left: 50px;
    background: rgb(253, 249, 249);
    /* mix-blend-mode: soft-light; */
    border-radius: 47px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.Fpassotp-main>button{
    position: absolute;
    width: 171px;
    height: 48px;
    bottom: 170px;
    left: 185px;
    text-align: center;
    text-decoration-color: rgb(201, 47, 47);
    background: #e6e1e1;
    /* mix-blend-mode: color-dodge; */
    border-radius: 16px;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5rem;
}


/* password creating section */

.Fpasscreate-main>h2{
    position: absolute;
    font-size: 1.7rem; ;
    font-weight: 500;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Fpasscreate-main>input:nth-child(2){
    position: absolute;
    width:450px;
    height: 50px;
    top: 200px;
    left: 50px;
    background: rgb(253, 249, 249);
    /* mix-blend-mode: soft-light; */
    border-radius: 47px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.Fpasscreate-main>input:nth-child(3){
    position: absolute;
    width:450px;
    height: 50px;
    top: 300px;
    left: 50px;
    background: rgb(253, 249, 249);
    /* mix-blend-mode: soft-light; */
    border-radius: 47px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}


.Fpasscreate-main>button{
    position: absolute;
    width: 171px;
    height: 48px;
    bottom: 130px;
    left: 185px;
    text-align: center;
    text-decoration-color: rgb(201, 47, 47);
    background: #e6e1e1;
    /* mix-blend-mode: color-dodge; */
    border-radius: 16px;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5rem;
}

