.app-class{
position: relative;
width: 100vw ;
height:100vh ;
background: linear-gradient(180deg, #10A6D6 0%, rgba(190, 26, 193, 0.59) 99.12%);
/* mix-blend-mode: normal; */
overflow: hidden;
}

.eclipse1{
position: absolute;
width: 811px;
height: 1368.77px;
left: -250.58px;
top: -18.86px;
border-radius: 100%;
background: #C4C4C4;
mix-blend-mode: overlay;
transform: rotate(-12deg);
}

.eclipse2{
    position: absolute;
width: 535px;
height: 825px;
left: -18.79px;
top: 313px;
border-radius: 100%;
background: #C4C4C4;
mix-blend-mode: color-burn;
transform: rotate(17deg);
}