.msugg-box-main{
    
    width: 790px;
    height: 810px;
    border-radius: 72px;
    box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
}

.msugg-btns{

    height: 50px;
    top: 10px;
    padding: 10px 58px;
    
}

.msugg-btns>button{
    height: 44px;
    width: fit-content;
    min-width: 130px;
    border-radius: 44px;
    position: relative;
    mix-blend-mode: lighten;
    margin-left: 131px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;

}


.msugg-content-main{
    position: relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 690px;
    width: 666px;
    /* border-top: 50px black; */
    border-radius: 50px  50px;
    background-color: #ffffff36;
    /* mix-blend-mode: multiply; */
    overflow: scroll;
    

}

.msugg-content-main::-webkit-scrollbar{ 
    display: none;
}

.msugg-box{
   
    background-color: rgb(255 255 255 / 55%);
    /* mix-blend-mode: darken; */
    margin: 20px 50%;
    padding: 5px;
    transform: translate(-50%,0);
    height: fit-content;
    width: 550px;
    min-height: 70px;
    min-width: 180px;
    border-radius: 30px;
    color: black;
    padding: 10px;
    padding-left: 20px;
    text-align: justify;
    font-size: 1.7rem;
}

.msugg-box>button{
    height: 44px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 130px;
    border-radius: 44px;
    position: relative;
    mix-blend-mode: darken;
    margin-left: 200px;
    margin-bottom: 21px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(248, 246, 246);
    background-color: rgb(197, 57, 57);
}