.usugg-box-main{
    
    width: 790px;
    height: 810px;
    
    
    /* mix-blend-mode: darken; */
    border-radius: 72px;
    box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
}

.usugg-btns{
    
    
    height: 50px;
    top: 10px;
    padding: 10px 58px;
    
    
}

.usugg-btns>button{
    height: 52px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 250px;
    border-radius: 100px;
    position: relative;
    mix-blend-mode: lighten;
    margin-left: 56px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 800;
    font-family: sans-serif;
}

.usugg-content-main{
    position: relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 690px;
    width: 666px;
    /* border-top: 50px black; */
    border-radius: 50px  50px;
    background-color: #ffffff36;
    /* mix-blend-mode: multiply; */
    overflow: scroll;
    

}

.usugg-content-main::-webkit-scrollbar{ 
    display: none;
}

.sugg-box{
   
    background-color: rgb(255 255 255 / 55%);
    /* mix-blend-mode: darken; */
    margin: 20px 50%;
    padding: 5px;
    transform: translate(-50%,0);
    height: fit-content;
    width: 550px;
    min-height: 70px;
    min-width: 180px;
    border-radius: 30px;
    color: black;
    padding: 10px;
    padding-left: 20px;
    text-align: justify;
    font-size: 1.7rem;
}
.sugg-actionbtns>button{
    margin: 18px;
    padding: 4px;
    border-radius: 50%;
    border: none;
    transition: all .3s ease-in;
    transform: scale(1.4);
}
.sugg-actionbtns>.sEdit{
    background-color: aquamarine;
}
.sugg-actionbtns>button:nth-child(2){
    color: white;
    background-color: rgb(245, 64, 40);
}
.sugg-actionbtns>button:hover{
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}