.Usugg-main{
    position: relative;
    height: 100vh;
    width: 100vw;

}


.Usugg-box{
    position: absolute;
    width: 790px;
    height: 810px;
    right: 308px;
    top: 150px;
    background: rgba(192, 91, 194, 0.83);
    mix-blend-mode: darken;
    border-radius: 72px;
    box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
}