.usugg-box-main{
    
    width: 767px;
    height: 668px;
    
    
    /* mix-blend-mode: darken; */
    border-radius: 72px;
    box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
}

.usugg-btns{
    
    
    height: 50px;
    top: 10px;
    padding: 10px 58px;
    
    
}

.usugg-btns>button{
    height: 52px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 250px;
    border-radius: 100px;
    position: relative;
    mix-blend-mode: lighten;
    margin-left: 56px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 800;
    font-family: sans-serif;
}

.usugg-content-main{
    position: relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 537px;
    width: 656px;
    /* border-top: 50px black; */
    border-radius: 50px  50px;
    background-color: #ffffff36;
    /* mix-blend-mode: multiply; */
    overflow: scroll;
    

}

.usugg-content-main::-webkit-scrollbar{ 
    display: none;
}

.sugg-box{
   
    background-color: rgb(255 255 255 / 55%);
    /* mix-blend-mode: darken; */
    margin: 20px 50%;
    padding: 5px;
    transform: translate(-50%,0);
    height: fit-content;
    width: 550px;
    min-height: 70px;
    min-width: 180px;
    border-radius: 30px;
    color: black;
    padding: 10px;
    padding-left: 20px;
    text-align: justify;
    font-size: 1.7rem;
}
.sugg-actionbtns>button{
    margin: 18px;
    padding: 4px;
    border-radius: 50%;
    border: none;
    transition: all .3s ease-in;
    transform: scale(1.4);
}
.sugg-actionbtns>.sEdit{
    background-color: aquamarine;
}
.sugg-actionbtns>button:nth-child(2){
    color: white;
    background-color: rgb(245, 64, 40);
}
.sugg-actionbtns>button:hover{
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1626px) {

    .usugg-box-main{
    
        width: 623px;
        height: 460px;
        
        /* mix-blend-mode: darken; */
        border-radius: 72px;
        box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
    }
    
    .usugg-btns{
        
        height: 49px;
        top: 9px;
        padding: 3px 1px;  
        
        
    }

    .usugg-btns>button{
        height: 37px;
        width: -moz-fit-content;
        width: fit-content;
        min-width: 102px;
        border-radius: 44px;
        position: relative;
        mix-blend-mode: lighten;
        margin-left: 29px;
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: sans-serif;
    }
    .usugg-content-main{
        position: relative;
        top: 25px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 354px;
        width: 579px;
        /* border-top: 50px black; */
        border-radius: 50px 50px;
        background-color: #ffffff36;
        /* mix-blend-mode: multiply; */
        overflow: scroll;
        
    
    }
    .sugg-box{
        background-color: rgb(255 255 255 / 55%);
        /* mix-blend-mode: darken; */
        margin: 20px 50%;
        transform: translate(-50%,0);
        height: -moz-fit-content;
        height: fit-content;
        width: 502px;
        min-height: 66px;
        min-width: 180px;
        border-radius: 30px;
        color: black;
        padding: 10px;
        padding-left: 19px;
        text-align: justify;
        font-size: 1.2rem;
    }
    .sugg-actionbtns>button {
        margin: 13px;
        padding: 0px;
        border-radius: 50%;
        border: none;
        transition: all .3s ease-in;
        transform: scale(1.1);
    }

}

@media screen and (max-width: 600px){

    .usugg-box-main{
        width: 98%;
        height: 64vh;
        /* mix-blend-mode: darken; */
        border-radius: 72px;
        box-shadow: inset 2px 5px 8px 5px #5e5c5ccc;
    }
    
    .usugg-btns{
        height: 40px;
        top: 9px;
        padding: 0px 66px;
        
        
    }

    .usugg-btns>button{
        height: 37px;
        width: -moz-fit-content;
        width: fit-content;
        min-width: 102px;
        border-radius: 44px;
        position: relative;
        mix-blend-mode: lighten;
        margin-left: 29px;
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: sans-serif;
    }
    .usugg-content-main{
        position: relative;
        top: 25px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 53vh;
        width: 98%;
        /* border-top: 50px black; */
        border-radius: 50px 50px;
        background-color: #ffffff36;
        /* mix-blend-mode: multiply; */
        overflow-y: scroll;
        overflow-x: hidden;
        
    
    }
    .sugg-box{
        background-color: rgb(255 255 255 / 55%);
        /* mix-blend-mode: darken; */
        margin: 20px 50%;
        transform: translate(-50%,0);
        height: -moz-fit-content;
        height: fit-content;
        width: 90%;
        min-height: 66px;
        min-width: 178px;
        border-radius: 30px;
        color: black;
        padding: 10px;
        padding-left: 17px;
        text-align: justify;
        font-size: 1.1rem;
    }
    .sugg-actionbtns>button {
        margin: 13px;
        padding: 0px;
        border-radius: 50%;
        border: none;
        transition: all .3s ease-in;
        transform: scale(1.1);
    }


}